[user]
    name = Graxo
	email = github.robin@koper.cloud
    # signingkey = ABC1234DEF5678       # Uncomment and add your GPG/SSH key if you sign commits
    # signcommits = true                # Enforce signing commits

[core]
    editor = nano
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.gitignore_global
    pager = less -F -X
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
    defaultBranch = main

[color]
    ui = auto

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate
    last = log -1 HEAD
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    amend = commit --amend --no-edit
    unstage = reset HEAD --
    type = cat-file -t
    dump = cat-file -p

[push]
    default = simple

[fetch]
    prune = true

[pull]
    rebase = false     # set to true if you prefer rebase over merge

[credential]
    helper = store     # Use 'store' for dev, 'cache' for temporary, or 'osxkeychain'/'libsecret' as per OS

[merge]
    conflictstyle = diff3

[diff]
    tool = vimdiff

[rerere]
    enabled = true     # remembers conflict resolutions (can save time)

[status]
    showUntrackedFiles = all
[safe]
	directory = /home/automation/.ansible/awx-homelab
