#Custom aliases i like to use
alias ll='ls -la'

# Docker Aliases
alias d='docker'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dstart='docker start'
alias dstop='docker stop'
alias drm='docker rm'
alias drmi='docker rmi'
alias dimg='docker images'
alias dbash='docker exec -it'
alias dlogs='docker logs'
alias dlogsf='docker logs -f'
alias dnet='docker network ls'
alias dvol='docker volume ls'
alias dprune='docker system prune -af'
alias dclean='docker rm $(docker ps -aq) && docker rmi $(docker images -q)'

# Git Aliases
alias g='git'
alias gst='git status'
alias gl='git log --oneline --graph --all --decorate'
alias ga='git add'
alias gaa='git add .'
alias gb='git branch'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gc='git commit -v'
alias gcm='git commit -m'
alias gca='git commit -a -m'
alias gp='git push'
alias gpl='git pull'
alias gpo='git push origin'
alias gcl='git clone'
alias gdiff='git diff'
alias gclean='git clean -fd'
alias gundo='git reset --soft HEAD~1'

# Kubernetes Aliases
alias k='kubectl'
alias kgp='kubectl get pods'
alias kgs='kubectl get svc'
alias kgn='kubectl get nodes'
alias kga='kubectl get all'
alias kctx='kubectl config use-context'
alias kns='kubectl config set-context --current --namespace'
alias klogs='kubectl logs'
alias klogsf='kubectl logs -f'
alias kexec='kubectl exec -it'
alias kdesc='kubectl describe'
alias krm='kubectl delete'
alias kaf='kubectl apply -f'
alias kdf='kubectl delete -f'
alias kedit='kubectl edit'

